<html>
<head>

<link rel="stylesheet" href="/static/style.css">
        
    <title>
        {% block title %}{% endblock title %}
    </title>
<style>
</style>

</head>

<body>
       <div id="navbar">
           <ul>
               <li><a href="">Iphone</a></li>
               <li><a href="">Android</a></li>
               <li><a href="">Bitcoin</a></li>
               <li><a href="">Linux</a></li>
               <li><a href="">Windows</a></li>
               <li><a href="">Mac</a></li>
               <li><a href="">Mobile</a></li>
               <li><a href="">Defaces</a></li>
               <li><a href="">DataTheft</a></li>
               <li><a href="">Xbox</a></li>
           </ul>
        
       </div>
    {% block content %}    
    {% endblock content %}


</body>
</html>
