<html>
<head>

<link rel="stylesheet" href="static/style.css">
        
    <title>
        {% block title %}{% endblock title %}
    </title>
<style>
</style>

</head>

<body>

    <div id="navbar">
       <ul>
           <li>Iphone</li>
           <li>Android</li>
           <li>Bitcoin</li>
           <li>Linux</li>
           <li>Windows</li>
           <li>Mac</li>
           <li>Mobile Security</li>
           <li>Defaces</li>
           <li>DataTheft</li>
       </ul>
    </div>

    {% block content %}    
    {% endblock content %}


</body>
</html>
