<html>
<head>

<link rel="stylesheet" href="/static/style.css">
        
    <title>
        {% block title %}{% endblock title %}
    </title>
<style>
</style>

</head>

<body>
       <div id="navbar">
           <ul>
               <li><a href="{% url 'category' 'Iphone' %}">Iphone</a></li>
               <li><a href="{% url 'category' 'Android' %}">Android</a></li>
               <li><a href="{% url 'category' 'Bitcoin' %}">Bitcoin</a></li>
               <li><a href="{% url 'category' 'Linux' %}">Linux</a></li>
               <li><a href="{% url 'category' 'Windows' %}">Windows</a></li>
               <li><a href="{% url 'category' 'Mac' %}">Mac</a></li>
               <li><a href="{% url 'category' 'Mobile' %}">Mobile</a></li>
               <li><a href="{% url 'category' 'Malware' %}">Malware</a></li>
               <li><a href="{% url 'category' 'Defaces' %}">Defaces</a></li>
               <li><a href="{% url 'category' 'DataTheft' %}">DataTheft</a></li>
               <li><a href="{% url 'category' 'Xbox' %}">Xbox</a></li>
           </ul>
        
       </div>
    {% block content %}    
    {% endblock content %}


</body>
</html>
