#navbar ul {

    width:100%;
    float:left;
    padding:0;
    margin-top:0;
    border-bottom:1px solid ;
    font:bold 13px Verdana, sans-serif;
    background-color:#C5E3E1;
}

#navbar ul li {
    list-style:none;
    margin:0;
    float:left;
}

#navbar ul li a {
    padding:12px 0.5em;
    margin-left:0 px;
    border:1px solid #778;
    border-bottom:none;
    background-color:#0AF2E7;
    text-decoration:none;
    text-align:center;
    display:block;
    width:7em;
}

#navbar ul li a:link {
    color:white;
}

#links a {
        float:right;
}

#home_articles  {
    padding:0;
    margin-top:0;
    border:solid 1px #eaeaea ;
    width:55.5%;
    background-color:white;
    margin-left:0;
    margin-top:0px;
}

#home_articles ul {
    list-style:none;
}

#article_display {
    padding:0;
    margin-top:0;
    border:solid 1px #eaeaea;
    width:55.5%;
    background-color:white;
    margin-left:0;
    margin-top:0px;
}

#article_display ul {
    list-style:none;
}

#category ul  {
    list-style:none;
}

#category  {
    border:solid 1px #eaeaea;
    width:720px;
    margin:10 103;
    background-color:white;
}
